<%- include('../partials/head') %>

<%- include('../partials/header') %>

<body>

    <h1>LISTA DE PELÍCULAS</h1>
    <% for (let i = 0; i < pelis.length; i++) { %>
    <a href="/movies/<%=pelis[i].id%>"><p><%= pelis[i].title %></p></a>
    <% } %>

</body>
</html>