* {
  background-color: gray;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  box-sizing: border-box;
}



button {
  background-color: white;
}

option {
  background-color: white;
}

a {
  color: white;
  
}



.header_nav {
  align-items: center;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1%;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  
}

.header_nav a {
  text-decoration: none;
  background-color:  black;
}

.header_nav p {
  background-color: black;
}

.header_nav form {
  background-color:transparent;
}

.header_nav input {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  
}

.header_nav select {
  margin: 5px;
  padding: 1%;
  border-radius: 5px;
}

.header_nav button {
  margin: 5px;
  border-radius: 5px;
}

.detail_buttons {
  display: flex;
  align-items: flex-end;
}


.detail_buttons * {
  margin-right: 5%;
}
.edit_button {
    background-color: black;
    color: white;
    padding:20%;
}

.delete_button {
  background-color: lightsalmon;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms input {
  background-color: white;
  width: 30%;
}

.forms select {
  background-color: white;
  width: 30%;
}

.forms label {
  color: white
}

.forms button {
  margin-top: 1%;
  width: 20%;
  padding: 1%;
  background-color: lightgray;
}

.errors {
  font-size: 0.8em;
  color: lightsalmon;
  margin: 0px;
  text-align: center;
}
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
