<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MOVIES DB</h1>
    <a href="/movies"><p>PELICULAS</p></a>
    <a href="/actors"><p>ACTORES</p></a>
    <a href="info"><p>INFO</p></a>
    
  </body>
</html>
