<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MOVIES DB - ACERCA DE</h1>
    <p>Ejercitación del módulo sobre Bases de Datos del curso Desarrollo Web Full Stack Node en Digital House.
    <p>Desarrollada por Guillermo Katz</p>
    <p>Noviembre 2020</p>
    <a href="https://github.com/guillermokatz" target="blank"><p>REPOSITORIO GITHUB</p></a>
    <a href="/movies"><p>PELICULAS</p></a>
    <a href="/actors"><p>ACTORES</p></a>
    
    
  </body>
</html>
